<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactWs</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=360,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
